.nav_link {
    box-shadow: inset 0 0 0 0 #30323f;
    color: #30323f;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 6px;
    margin: 0 0 0 2rem;
}

.nav_link:hover {
    color: #eafffe;
    box-shadow: inset 200px 0 0 0 #30323f;
}
